$back-color: #000;
$text-color: #fff;
$main-color: #5f88f0;
$assist-color: #8ed7d3;
$other-color: #fefcd5;

@font-face {
  font-family: "汉蒂灵飞经";
  src: local("汉蒂灵飞经"), url(../assets/fonts//lingfeijin.ttf);
}

@mixin CN-Title-LingFeiJing {
  font-family: "汉蒂灵飞经";
  font-weight: 400;
  font-size: 48px;
}
