.header_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back_triangle,
.back_triangle_2 {
  position: absolute;
  top: 0;

  z-index: 0;
  background: url("https://raw.githubusercontent.com/wujinhjun/wujinhjun-pic/main/202303111131572.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 67%;
  max-width: 1600px;
  aspect-ratio: 0.62;
  margin-right: 650px;
  box-sizing: border-box;
}

.back_triangle_2 {
  background-image: url("https://raw.githubusercontent.com/wujinhjun/wujinhjun-pic/main/202303111131271.svg");
}

@media (max-width: 576px) {
  .back_triangle,
  .back_triangle_2 {
    margin-right: 50px;
  }
}
