@use '../styles/variable' as variable;

.main {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: variable.$navbar-height;

  @media (max-width: 1200px) {
    padding: 0 24px;
  }

  @media (max-width: 992px) {
    padding: 0 16px;
  }
}
