.header_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back_triangle,
.back_triangle_2 {
  position: absolute;
  top: 0;

  z-index: -1;
  background: url("data:image/svg+xml,%3Csvg width='1245' height='770' viewBox='0 0 1245 770' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h1245L0 770V0z' fill='%2358A7FF'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: 67%;
  max-width: 1600px;
  aspect-ratio: 0.62;
  box-sizing: border-box;
}

.back_triangle_2 {
  background-image: url("data:image/svg+xml,%3Csvg width='1245' height='770' viewBox='0 0 1245 770' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h1245L0 770V0z' fill='%233F6FAE'/%3E%3C/svg%3E");
}

@media (max-width: 576px) {
  .back_triangle,
  .back_triangle_2 {
    margin-right: 50px;
  }
}
